
.textarea {
  display: inline-block;
  vertical-align: baseline;
  //white-space: nowrap;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
  color: #000;
  border: 1px solid rgba(0,0,0,0.2);
  background: #FFF;
  padding: 3px 9px;
  min-height: 154px;
  border-radius: 2px;
  width: 100%;
  font-size: 1.5rem;
}

.textarea--small {
  min-height: 54px !important;
}


.textarea:focus {
  z-index: 2;
  border-color: rgba(178,142,0,0.6);
  box-shadow: 0 0 10px #fc0;
}